<h1>Cougar Steakhouse</h1>

{% if user.is_authenticated %}
    <p>Hello {{user.username}}</p>
    <p>
        <a href="{% url 'sd_app:profile' %}">Update Profile</a>
    </br>
    </br>
        <a href="{% url 'sd_app:buy' %}">Make a Reservation</a>
    </br>
    </br>
        <a href="{% url 'sd_app:purchase_history' %}">Upcoming Reservations</a>
    <br/>
    <br/>
        <a href="{% url 'logout' %}">Logout</a>
    </p>
{% else %}
    <a href="{% url 'login' %}">Login</a>
</br>
</br>
</br>
    <a href="{% url 'sd_app:register' %}">Register</a>
{% endif %}

